@import "./variables";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-smallest) {
    font-size: 50%;
  }
}

body {
  background-image: linear-gradient(
      to right bottom,
      rgba(220, 72, 49, 0.3),
      rgba(184, 57, 14, 0.3)
    ),
    url(../assets/Rays_of_autumn_light_in_Toronto.jpg);
  background-size: cover;
  background-position: center;

  font-family: "Lato", sans-serif;
  font-weight: 300;

  color: $color-text-dark;
  line-height: 1.6;
  font-size: $text-size-default;
  -webkit-tap-highlight-color: transparent;

  height: 100vh;

  display: grid;
  align-content: center;
  grid-template-columns:
    [page-start] minmax(2rem, 1fr) [center-start] repeat(
      6,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [page-end];
}
