@import "./variables";

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;

  &__heading {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__container {
    background-image: linear-gradient(
      to bottom,
      rgba($color-primary-light, 0.9) 0%,
      rgba($color-primary-light, 0.9) 20%,
      transparent 90%,
      rgba($color-primary-light, 0.2) 100%
    );
    padding: 1.4rem;
    padding-bottom: 3.5rem;
    border-radius: 3px;
    box-shadow: $box-shadow-md;
  }

  &__group {
    width: 90%;

    input,
    textarea {
      display: block;
      font: inherit;
      padding: 0.5rem 1rem;
      border-radius: 2px;
      border: 1px solid transparent;
      border-bottom: 3px solid transparent;
      width: 100%;
      outline: none;
      position: relative;
      caret-color: $color-accent;

      &::-webkit-input-placeholder {
        opacity: 0.8;
      }
    }

    textarea {
      resize: none;
    }
  }

  &__group .input:focus {
    box-shadow: $box-shadow-md;
    border-bottom: 3px solid $color-accent;
  }

  &__group.error .input {
    background-color: pink;
    border-bottom: 3px solid red;
  }

  &__group.error .input:focus {
    background-color: #fff;
    border-bottom: 3px solid $color-accent;
  }

  &__group .error-text {
    color: red;
    background-color: rgba($color-text-light, 0.7);
    line-height: 1;
  }
  &__group .error-text.shown {
    height: 2rem;
    padding: 0.3rem 1rem 0.4rem;
    transition: all 0.3s;
  }
  &__group .error-text.hide {
    height: 0;
    padding: 0;
    transition: all 0.3s;
  }

  &__button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 1.2rem 2.4rem;
    background-color: $color-primary;
    color: $color-text-light;
    font-size: $text-size-default + 0.1rem;
    box-shadow: $box-shadow-light;
    transition: all 0.3s;
    margin-top: 2rem;

    &:hover:valid {
      background-color: $color-accent;
    }
    &:active {
      box-shadow: none;
      transform: translateY(1px);
    }
    &:disabled {
      cursor: not-allowed;
      background-color: grey;
    }
  }
}
