// COLORS
$color-primary: #dc4731;
$color-primary-light: #fff3d9;
$color-primary-dark: #b8390e;

$color-accent: #3b0918;

$color-text-light: #fcedea;
$color-text-dark: #160705;

$box-shadow-light: 0 0.1rem 0.5rem rgba(black, 0.3);
$box-shadow-md: 0 1rem 2rem rgba(black, 0.1);
$box-shadow-strong: 0 1rem 2rem 1rem rgba(black, 0.4);

$text-size-default: 1.6rem;

// MEDIA QUERIES
$bp-large: 75em; //1200
$bp-medium: 62.5em; //1000
$bp-small: 50em; //800
$bp-smallest: 32em; //512
